@media screen and (max-width: 1299px) {
    .custom-order {
        font-size: 23px;
        margin-left: 50px;
    }
    .header-nav nav ul.navbar-nav > li {
        margin-right: 40px;
    }
}
@media screen and (max-width: 1199px) {
    .arrival-item figure {
        height: 190px;
        width: 190px;
    }
    .gift-item-content h4 {
        font-size: 21px;
        line-height: 30px;
    }
}
