@media screen and (max-width: 1299px) {
    .custom-order {
        font-size: 23px;
    }
    .header-nav nav ul.navbar-nav > li {
        margin-right: 40px;
    }
    .header .menu > ul > li {
        font-size: 18px;
        margin-right: 35px;
    }
    .order-content {
        max-width: 850px;
    }
    .order-content .title h3 {
        font-size: 20px;
        line-height: 28px;
    }
    .order-value span {
        font-size: 25px;
        line-height: 30px;
    }
    .order-value p {
        font-size: 16px;
        line-height: 27px;
    }
    .view-estimate {
        font-size: 18px;
        line-height: 27px;
    }
    .order-number span {
        font-size: 16px;
        line-height: 27px;
    }
    .order-item-wrap table tr td {
        font-size: 16px;
        line-height: 18px;
        padding: 15px;
    }
    .order-item-wrap table tr td span {
        font-size: 14px;
    }
    .view-details-btn {
        height: 36px;
        line-height: 36px;
        border-radius: 4px;
    }
    .side-menu ul li button {
        font-size: 16px;
        line-height: 24px;
        border-left: 4px solid transparent !important;
        padding: 10px 16px 10px 35px;
    }
    .side-menu ul li button span.myorder {
        background-size: 22px;
    }
    .side-menu ul li button span.mywallet {
        background-size: 27px;
    }
    .side-menu ul li button span.mywishlist {
        background-size: 27px;
    }
    .side-menu ul li button span.changepass {
        background-size: 26px;
    }
    .side-menu ul li button span.manageaddress {
        background-size: 23px;  
    }
    .side-menu .logout-btn {
        font-size: 17px;
        height: 39px;
        line-height: 39px;
    }
    .user-profile figure {
        width: 50px;
        height: 50px;
    }
    .edit-profile {
        font-size: 13px;
        line-height: 16px;
    }
    .user-profile-info .gmail {
        font-size: 13px;
        line-height: 14px;
        margin-bottom: 3px;
    }
    .user-profile-info h5 {
        font-size: 14px;
        line-height: 15px;
        margin-bottom: 4px;
    }
    .side-menu ul li button.active {
        border-left: 4px solid #96546A !important;
    }
    .partial {
        margin-left: -66px;
    }
   
}
@media screen and (max-width: 1223px) {
    .filter-top-area > ul > li {
        font-size: 12px;
        line-height: 25px;
    }
    .filter-top-area > ul > li.filter-by {
        font-size: 13px;
        margin-right: 6px;
    }
    .filter-top-area > ul > li > a {
        padding: 0 15px 0 8px;
    }
    .filter-top-area > ul > li > a.dropdown-toggle span {
        padding-right: 6px;
    }
    .search-list span {
        font-size: 12px;
    }
    .search-list ul li {
        font-size: 13px;
    }
    .search-list {
        max-width: 960px;
    }
}
@media screen and (max-width: 1199px) {
    .gift-item-content h4 {
        font-size: 21px;
        line-height: 30px;
    }
    .header .menu > ul > li {
        font-size: 16px;
        margin-right: 20px;
    }
    .custom-order {
        font-size: 20px;
    }
    .banner-content-inner h1 {
        font-size: 70px;
        line-height: 90px;
    }
    .social {
        top: -158px;
    }
    .footer-link-item ul li {
        font-size: 18px;
        line-height: 40px;
    }
    .copyright p {
        font-size: 16px;
    }
    .copyright ul li {
        font-size: 15px;
    }
    .carousel-inner {
        max-width: 365px;
        margin-left: 100px;
    }
    .view-price ul li {
        margin-right: 25px !important;
    }
    .view-price ul li {
        padding: 3px 8px;
    }
    .quantity {
        margin-left: 30px;
    }
    .quantity {
        margin-left: 15px;
    }
    .customize form.size {
        margin-right: 0 !important;
    }
    .filter-area-wrap {
        max-width: 875px;
    }
    .view-price ul li:not(:first-child)::after {
        left: -20px;
    }
    .about-area-content p {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 15px;
    }
    .about-area-content h3 {
        font-size: 21px;
        line-height: 30px;
        padding-bottom: 15px;
    }
    .about-info p {
        font-size: 14px;
        line-height: 20px;
        padding: 0 5px;
    }
    .about-info h4 {
        font-size: 21px;
        line-height: 29px;
    }
    .about-area-content {
        padding: 0 0 0 30px;
    }
    .about-info .title {
        padding-bottom: 20px;
    }
    .cart-area .title p {
        font-size: 20px;
        line-height: 30px;
    }
    .cart-item-wrap {
        width: 75%;
        padding: 0 0 0 25px;
    }
    .cart-item > figure {
        width: 25%;
    }
    .cart-item-title h4 {
        font-size: 18px;
        line-height: 20px;
        margin-bottom: 4px;
    }
    .cart-item-title > span {
        font-size: 14px;
    }
    .cart-item-title {
        margin-bottom: 8px;
    }
    .remove-btn {
        font-size: 12px;
        height: 25px;
        line-height: 25px;
        min-width: 130px;
        border-radius: 4px;
    }
    .move-to-btn {
        font-size: 12px;
        line-height: 25px;
        min-width: 130px;
        height: 25px;
        border-radius: 4px;
    }
    .cart-item-wrap .price h3 {
        font-size: 16px;
        line-height: 25px;
    }
    .cart-item-wrap .price h3 .pre-price {
        font-size: 16px;
        line-height: 25px;
    }
    .cart-item-wrap .price h3 .offer {
        font-size: 15px;
        height: 25px;
        line-height: 25px;
        padding: 0 8px;
    }
    .cart-item-wrap .price {
        padding-top: 33px;
    }
    .order-summery {
        padding: 10px 20px 0 20px;
        margin-bottom: 20px;
    }
    .order-summery h4 {
        font-size: 20px;
        line-height: 50px;
    }
    .order-summery ul li {
        font-size: 16px;
        line-height: 30px;
        padding: 10px 0;
    }
    .book p {
        font-size: 16px;
        line-height: 30px;
        background-size: 23px;
        padding-left: 30px;
    }
    .book label {
        line-height: 30px;
        font-size: 16px;
        background-size: 20px;
        padding: 0 27px 0 2px;
    }
    .book form .form-check-input {
        width: 20px;
        height: 20px;
    }
    .order-summery p {
        font-size: 16px;
        line-height: 30px;
    }
    .proceed-btn {
        font-size: 16px;
        height: 45px;
        line-height: 45px;
    }
    .continue-btn {
        font-size: 16px;
        height: 45px;
        line-height: 45px;
    }
    .cart-area .title p span {
        font-size: 18px;
    }
    .side-menu-wrap::after {
        right: -15px;
        width: 15px;
    }
    .order-content {
        max-width: 700px;
        margin-right: auto;
    }
    .order-value span {
        font-size: 21px;
        line-height: 26px;
    }
    .view-details-btn a {
        padding: 0 7px;
    }
    .view-details {
        padding: 27px 0 20px 0;
    }
    .order-value {
        margin-bottom: 30px;
    }
    .side-menu ul li button {
        padding: 10px 16px 10px 15px;
    }
    .side-menu ul li button span {
        padding: 6px 0 6px 31px;
    }
    .side-menu ul li button span.myorder {
        background-size: 20px;
    }
    .side-menu ul li button span.mywallet {
        background-size: 25px;
    }
    .side-menu ul li button span.mywishlist {
        background-size: 25px;
    }
    .side-menu ul li button span.changepass {
        background-size: 24px;
    }
    .side-menu ul li button span.manageaddress {
        background-size: 21px;  
    }
    .user-profile-info .gmail {
        font-size: 11px;
    }
    .user-profile figure {
        width: 40px;
        height: 40px;
    }
    .side-menu ul li button {
        font-size: 15px;
        border-left: 3px solid transparent !important;
    }
    .side-menu ul li button.active {
        border-left: 3px solid #96546A !important;
    }
    .side-menu .logout-btn a {
        padding: 0 15px;
    }
    .side-menu .logout-btn {
        font-size: 15px;
        height: 36px;
        line-height: 36px;
    }
    .side-menu .logout-btn a span {
        padding-left: 26px;
        background-size: 19px;
    }
    .order {
        padding: 0 0 150px 0;
    }
    .order-item-wrap.order-list table tr td {
        padding-left: 20px;
    }
    .partial {
        margin-left: -60px;
    }
    .partial p {
        font-size: 14px;
    }
    .order-item-wrap table tr td {
        font-size: 15px;
    }
    .cart.checkout .order-item-title h4 {
        font-size: 16px;
        line-height: 30px;
    }
    .cart.checkout .order-item-title h4 span {
        padding: 4px 0 3px 30px;
        background-size: 19px;
    }
    .cart.checkout .order-item-wrap {
        padding: 21px 0 21px 10px;
    }
    .middle::before {
        left: -7px;
    }
    .plus-btn a {
        padding: 0;
    }
    .order-item-wrap label {
        font-size: 18px;
        line-height: 30px;
    }
    .address-item {
        padding: 9px 8px 0 10px;
    }
    .address-item address {
        font-size: 13px;
        line-height: 20px;
    }
    .address-item p {
        font-size: 15px;
    }
    .cart.checkout .order-item-title.pay h4 span {
        padding-left: 40px;
        background-size: 26px;
    }
    .cart.checkout .order-item ul.nav-pills li button {
        font-size: 15px;
    }
    .cart.checkout .order-item ul.nav-pills li.option {
        font-size: 16px;
        line-height: 24px;
    }
    .payment h3 {
        font-size: 18px;
        line-height: 24px;
    }
    .payment > figure {
        max-width: 270px;
    }
    .payment {
        padding: 11px 25px 11px 0;
    }
    .payment ul li {
        font-size: 13px;
    }
    .payment p {
        line-height: 20px;
    }
    .payment figure.gpay {
        max-width: 93px;
    }
    .payment figure.paytm {
        max-width: 78px;
    }
    .payment figure.phonepe {
        max-width: 87px;
    }
    .payment figure.g24 {
        max-width: 78px;
    }
    .elevatezoom-gallery figure img {
        height: 75px;
    }
    .reverse.owl-carousel .owl-item {
        width: 75px !important;
    }
    .reverse.owl-carousel {
        width: 330px;
    }
    .zoom-image-wrap {
        left: -135px;
    }
    .cart.checkout .cart-area .text p {
        font-size: 20px;
        line-height: 30px;
    }
    .order-area .logout-btn a {
        padding: 0 15px;
    }
    .order-area .logout-btn {
        font-size: 15px;
        height: 36px;
        line-height: 36px;
    }
    .order-area button.accordion-button {
        padding: 10px 16px 10px 15px;
    }
    .order-area button.accordion-button span {
        padding: 6px 0 6px 31px;
    }
    .order-area button.accordion-button span.myorder {
        background-size: 20px;
    }
    .order-area button.accordion-button span.mywallet {
        background-size: 25px;
    }
    .order-area button.accordion-button span.mywishlist {
        background-size: 25px;
    }
    .order-area button.accordion-button span.changepass {
        background-size: 24px;
    }
    .order-area button.accordion-button span.manageaddress {
        background-size: 21px;  
    }
}
@media screen and (max-width: 1099px) {
    .search-list {
        max-width: 100%;
    }
    .logo-area {
        width: 22%;
    }
    .center-logo {
        width: 37%;
    }
    .header-top-right ul.weight {
        margin-left: 30px;
    }
    .center-logo figure {
        max-width: 170px;
    }
    .header-top-right ul.user > li:not(:first-child) {
        margin-left: 20px;
    }
    .zoom-bottom ul li {
        font-size: 11px;
    }
}
@media screen and (max-width: 991px) {
    .header .menu > ul > li > a > i {
        display: block;
    }
    .header-area {
        padding: 10px 0;
    }
    .header .menu > ul > li {
        margin-right: 0;
    }
    .banner > figure img {
        width: 100% !important;
        height: 100% !important;
    }
    .banner > figure img {
        width: 1366px !important;
        height: 398px !important;
        max-height: initial !important;
        max-width: initial;
        margin: 0 -150px;
    }
    .banner.rings > figure img {
        height: 128px !important;
        margin: 0 -150px;
    }
    .header-top-right ul.weight {
        display: none;
    }
    .logo-area ul {
        display: none;
    }
    .center-logo {
        display: none;
    }
    .header-top-right {
        width: 78%;
        padding: 0;
    }
    .logo-area {
        padding: 0;
    }
    form.search-mobile input {
        margin-right: 0;
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
    }
    form.search-mobile button {
        color: #fff;
        padding: 0 10px;
    }
    form.search-mobile {
        width: 60%;
    }
    .login-btn {
        display: none;
    }
    .search-dropdown {
        display: none;
    }
    .logo-area {
        width: 75%;
        margin-left: 35px;
    }
    .logo {
        max-width: initial;
    }
    .header-top-area {
        padding: 0 10px;
    }
    .header .mobile-menu-trigger {
        position: absolute;
        top: -50px;
        left: 0;
        margin-left: 0;
    }
    .header-top {
        padding: 13px 0 10px 0;
    }
    .logo-area {
        width: 100%;
        max-width: 120px;
    }
    .arrival-area-carousel .owl-dots {
       display: none !important;
    }
    .arrival-area {
        border-bottom: 0;
        padding-bottom: 0;
    }
    .arrival {
        padding: 15px 0;
    }
    .categories {
        padding: 50px 0;
    }
    .store-area > figure {
        display: block;
        width: 100%;
        height: 100%;
    }
    .store-area-content {
        display: block;
        width: 100%;
    }
    .store-area-content p {
        font-size: 16px;
    }
    .store-area-content .address h5 {
        font-size: 16.65px;
    }
    .store-area-content .address address {
        font-size: 15px;
    }
    .social h5 {
        font-size: 20px;
        line-height: 30px;
    }
    .footer-area-left {
        width: 100%;
    }
    .footer-area-right {
        width: 100%;
        padding-bottom: 20px;
    }
    .copyright .link {
        margin-right: auto;
    }
    .copyright p {
        text-align: center;
    }
    .header-top-right ul.user .dropdown-menu {
        right: 0 !important;
        left: initial !important;
    }
    .dropdown-menu-container {
        padding-top: 20px;
    }
    .footer-area-right {
        overflow: hidden;
    }
    .footer-area-right figure {
        width: 50%;
        float: left;
    }
    .footer-area-right .address-wrap {
        width: 50%;
        float: right;
        padding-left: 20px;
    }
    .filter-top-area > ul {
        display: none;
    }
    .search-filter {
        display: none;
    }
    .filter-area {
        padding-bottom: 0;
        max-width: 875px;
    }
    .filter-area.mobile {
        padding-bottom: 50px;
        margin-bottom: 50px;
    }
    .breadcrumb {
        margin-bottom: 0;
    }
    .filter-item-title .price h4 {
        font-size: 20px;
    }
    .load-more-btn {
        font-size: 16px;
        height: 40px;
        line-height: 40px;
    }
    .load-more-btn a {
        padding: 0 20px;
    }
    .gift-area {
        max-width: 700px;
    }
    .filter-area-wrap {
        max-width: 675px;
    }
    .carousel-inner {
        max-width: 483px;
        margin: 0 auto;
    }
    .product-info {
        max-width: 745px;
    }
    .filter-area.owl-carousel .owl-nav button.owl-prev {
        left: -45px;
        background-size: 20px !important;
    }
    .filter-area.owl-carousel .owl-nav button.owl-next {
        right: -48px;
        background-size: 20px !important;
    }
    .product-details {
        padding: 0 0 50px 0;
    }
    .heading h2 {
        font-size: 25px;
        line-height: 30px;
    }
    .details .filter-area {
        padding-bottom: 50px;
    }
    .view-price ul li {
        font-size: 11px;
        margin-right: 15px !important;
        padding: 3px 5px;
    }
    .product-info .title h3 {
        font-size: 21px;
    }
    .product-info .title ul li {
        font-size: 12px;
        line-height: 20px;
    }
    .product-info .title ul li:not(:last-child) {
        padding-right: 10px;
        margin-right: 10px;
    }
    .product-info .price h3 {
        font-size: 26px;
        line-height: 36px;
    }
    .product-info .price h3 .pre-price {
        font-size: 16px;
        line-height: 36px;
    }
    .product-info .price h3 .offer {
        font-size: 14px;
        height: 28px;
        line-height: 28px;
    }
    .accordion-item .view button {
        font-size: 16px;
    }
    .product-info .accordion-item .customize-header button {
        font-size: 16px;
    }
    .view-price ul li:not(:first-child)::after {
        left: -15px;
        top: 5px;
    }
    .quantity {
        margin-left: 10px;
    }
    .customize form p {
        font-size: 11px;
        line-height: 25px;
    }
    .btn-minuse, .btn-plus, .quantity > input {
        width: 25px;
        height: 25px;
        line-height: 20px;
    }
    .quantity > input {
        min-width: 45px;
        max-width: 20px; 
        font-size: 14px;
        border-radius: 3px;
    }
    .customize form select {
        font-size: 12px;
        max-width: 105px;
        margin: 0 auto;
    }
    .customize form .form-select-wrap::after {
        height: 26px;
    }
    .customize form .form-check {
        margin-left: 5px;
    }
    .customize form label {
        font-size: 11px;
    }
    .form-check .form-check-input {
        margin-left: -1.25em;
    }
    .customize form.size {
        float: right;
    }
    .size-chart {
        float: right;
        width: 100%;
        margin-right: 4px;
    }
    .about-area-content h3 {
        font-size: 18px;
        line-height: 24px;
        padding-bottom: 10px;
    }
    .about-area-content p {
        line-height: 18px;
        margin-bottom: 10px;
    }
    .about-area > figure {
        width: 40%;
    }
    .cart-area .title p span {
        font-size: 17px;
    }
    .side-menu-wrap {
        margin-bottom: 0;
        padding-right: 12px !important;
    }
    .order-content {
        max-width: 100%;
    }
    .side-menu ul li button { overflow: hidden; }
    .side-menu ul li button span.amount {
        float: right;
    }
    .side-menu ul li button span.mywallet {
        float: left;
    }
    .order-summery {
        margin-left: 15px;
    }
    .proceed-btn {
        margin-left: 15px;
    }
    .tooltip-text {
        line-height: 23px;
        font-size: 16px;
        padding-left: 5px;
    }
    .popup-outline {
        left: -47px;
        width: 175px;
        top: -90px;
    }
    .popup-bg {
        width: 175px;
        left: -43px;
        top: -90px;
    }
    .popup-text {
        left: -57px;
        width: 175px;
        top: -80px;
    }
    .popup-text p {
        font-size: 14px;
        line-height: 16px;
        max-height: 76px;
    }
    .tooltip-text figure {
        top: -2px;
        max-width: 26px;
    }
    .terms .filter-label .checkmark {
        top: -15px;
    }
    .zoom-image {
        padding-right: 10px;
    }
    .zoom-bottom ul li {
        font-size: 12px;
    }
    .zoom-bottom ul li:not(:last-child) {
        padding-right: 10px;
    }
    .zoom-bottom ul li span {
        background-size: 30px !important;
        padding-left: 34px;
    }
    .elevatezoom-gallery figure img {
        height: 55px;
    }
    .reverse.owl-carousel .owl-item {
        width: 55px !important;
    }
    .reverse.owl-carousel {
        width: 260px;
    }
    .zoom-image-wrap {
        left: -125px;
    }
    .reverse.owl-carousel .owl-nav button.owl-next {
        top: -8px;
        right: -22px;
    }
    .reverse.owl-carousel .owl-nav button.owl-prev {
        left: -32px;
        top: -8px;
    }
    .zoom-bottom ul li span {
        padding-left: 30px;
        font-size: 9px;
    }
    .zoom-bottom ul li span {
        background-size: 23px !important;
    }
    .cart.checkout .cart-area .text {
        margin-bottom: 20px;
    }
    .cart.checkout .cart-area {
        padding-bottom: 20px;
    }
    .banner.about-us > figure img {
        width: 100% !important;
        height: 100% !important;
        max-height: auto !important;
        max-width: 100%;
        margin: 0 0;
    }
    .order-area button.accordion-button {
        font-size: 16px;
        line-height: 21px;
    }
    .side-menu {
        max-width: 335px;
        left: initial !important;
        right: 0 !important;
    }
}
@media screen and (max-width: 767px) {
    .banner > figure img {
        margin: 0 -300px;
    }
    .banner-content-inner h1 {
        font-size: 60px;
        line-height: 80px;
    }
    .arrival-item figure {
        margin: auto;
    }
    .categories-item-inner {
        margin: 0 0 20px 0;
    }
    .image-wrapper {
        max-width: 294px;
    }
    .categories-area {
        max-width: 615px;
    }
    .gift-area {
        max-width: 600px;
    }
    .footer-link-item ul li {
        font-size: 16px;
    }
    .footer-area-left .pay ul li {
        margin-right: 23px !important;
    }
    .footer-area-left .pay ul li:last-child {
        margin-right: 0 !important;
    }
    .footer-area-right address {
        padding: 12px 9px 9px 0;
    }
    .footer-area-right p {
        margin-left: 0;
    }
    .categories-item {
        margin-bottom: 20px;
    }
    .modal-content {
        flex-direction: column;
    }
    .modal-content figure {
        width: 100%;
        max-width: 100%;
    }
    .modal-body figure {
        display: table;
        margin: 0 auto 10px auto;
        width: initial;
    }
    .modal-body-wrap figure {
        display: table-cell;
    }
    .filter-area {
        max-width: 552px;
        margin-left: auto;
        margin-right: auto;
    }
    .gift-area {
        max-width: 500px;
    }
    .filter-area-wrap {
        max-width: 476px;
    }
    .carousel-inner {
        max-width: 385px;
        height: 400px;
    }
    .carousel-indicators [data-bs-target] {
        width: 70px;
        height: 70px;
    }
    .filter-area-wrap {
        padding-bottom: 0;
    }
    .carousel-control-next, .carousel-control-prev {
        left: -10px;
    }
    .details .table tr th {
        font-size: 15px;
    }
    .details .table tr td {
        font-size: 15px;
    }
    .customize form .form-select-wrap.ms-auto {
        margin-left: 10px !important;
    }
    .customize form.size {
        margin-bottom: 15px !important;
    }
    .about-area {
        display: block;
    }
    .about-area > figure {
        display: block;
        width: 100%;
        max-width: 480px;
        margin-bottom: 30px;
    }
    .about-area > figure > img {
        width: initial;
        height: initial;
        max-width: 100%;
    }
    .about-info {
        max-width: 100%;
    }
    .about-area-wrap {
        padding-bottom: 0;
    }
    .about-area-content {
        padding: 0;
    }
    .cart-item-wrap .price {
        padding-top: 0;
    }
    .cart-item-wrap .price {
        width: 100%;
    }
    .cart-item-wrap .btn-wrap {
        width: 100%;
        float: none;
    }
    .remove-btn {
        margin: 8px 0 0 0 !important; 
    }
    .move-to-btn {
        margin: 8px 0 0 8px !important; 
    }
    .cart-item {
        max-width: 552px;
    }
    .order-number span {
        font-size: 15px;
        line-height: 25px;
    }
    .view-estimate {
        font-size: 16px;
        line-height: 25px;
    }
    .order-item-wrap .row .col-2 {
        padding: 11px 10px 10px 10px;
    }
    .order-item-wrap {
        padding: 10px 10px 10px 10px;
    }
    .view-details {
        padding: 27px 0 20px 0;
    }
    .order-value p {
        font-size: 15px;
        line-height: 25px;
    }
    .view-details-btn a {
        padding: 0 5px;
    }
    .order-item-wrap table tr td {
        font-size: 14px;
        line-height: 18px;
        padding: 10px;
        min-width: 170px;
    }
    .view-details-btn {
        margin-right: auto;
    }
    .partial {
        margin-left: 0;
    }
    .partial p {
        text-align: center;
    }
    .view-details.bordered {
        margin-left: auto;
        margin-right: auto;
    }
    .cart.checkout .order-item-wrap {
        margin-right: 10px;
    }
    .payment {
        padding: 11px 10px 11px 10px !important;
    }
    .plus-btn {
        margin-top: 0;
        margin-right: 0;
    }
    .payment figure.gpay {
        max-width: 78px;
    }
    .payment figure.paytm {
        max-width: 63px;
    }
    .payment figure.phonepe {
        max-width: 72px;
    }
    .payment figure.g24 {
        max-width: 63px;
    }
    .file-upload input {
        font-size: 13px;
    }
    .file-upload input {
        max-width: 200px;
    }
    .zoom-left > figure {
        width: 100%;
        float: none;
        max-width: 483px;
        margin-left: auto;
        margin-right: auto;
    }
    .zoom-image {
        width: 100%;
        float: none;
        padding-right: 0;
    }
    .elevatezoom-gallery {
        overflow: hidden;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .zoom-image {
        width: 100%;
        float: none;
        padding-right: 0;
        display: table;
        margin-right: auto;
        max-width: 483px;
    }
    .zoom-wrap {
        max-width: 362px;
        margin: 0 auto 40px auto;
    }
    .share {        
        bottom: 168px;
    }
    .zoom-image-wrap {
        position: initial;
        transform: none;
    }
    .reverse.owl-carousel {
        transform: none;
        width: 390px;
    }
    .zoom-left {
        margin-bottom: 20px;
    }
    .elevatezoom-gallery figure img {
        height: 90px;
    }
    .reverse.owl-carousel .owl-item {
        width: 90px !important;
    }
    .reverse.owl-carousel .owl-nav button.owl-prev {
        top: 13px;
    }
    .reverse.owl-carousel .owl-nav button.owl-next {
        top: 13px;
        right: -32px;
    }
    .zoom-bottom {
        max-width: 390px;
        margin-left: 0;
    }
    .zoom-bottom ul {
        margin-top: 10px;
    }
    .reverse.owl-carousel .item {
        transform: none;
    }
    .cart.checkout .cart-area .text p {
        font-size: 16px;
        line-height: 21px;
    }
    .zoom-left-wrap > figure {
        width: 100%;
        float: none;
    }
    .zoom-image-wrap {
        display: table;
        margin: 0 auto;
    }
}
@media screen and (max-width: 575px) {
    .banner > figure img {
        margin: 0 -500px;
    }
    .banner-content-inner h1 {
        font-size: 55px;
        line-height: 75px;
    }
    .flex-direction-nav a::before {
        width: 10px;
        height: 10px;
    }
    .flex-direction-nav a {
        padding: 15px;
    }
    .flex-control-nav {
        bottom: 20px;
    }
    .login-btn {
        margin: 19px 0 0 20px;
    }
    .header-top-right ul.user > li:not(:first-child) {
        margin-left: 16px;
    }
    .image-wrapper {
        margin: 0 auto;
    }
    .gift-item {
        max-width: 297px;
        margin: 0 auto;
    }
    .custom-order {
        font-size: 15px;
    }
    .footer-link {
        width: 100%;
        padding: 19px 0 15px 0;
        margin-top: 20px;
    }
    .footer-link-item {
        width: 100%;
    }
    .footer-link-item:last-child ul {
        padding-left: 0;
    }
    .copyright ul {
        display: table;
        text-align: center;
        margin: 0 auto;
        padding: 0px 0 15px 0;
        display: inline-block;
        float: none;
        border: 0;
    }
    .header-top-right ul.user li.cart-list .dropdown-menu {
        transform: translate(75px,30px) !important;
    }
    .header-top-right ul.user li.wish-list .dropdown-menu {
        transform: translate(20px,30px) !important;
    }
    .footer-area-left > ul {
        max-width: initial;
        display: table;
        margin: 0 auto;
    }
    .footer-area-left > ul li {
        display: inline-block;
    }
    .footer-area-main figure {
        width: 100%;
        display: table;
        margin: 0 auto;
        max-width: 155px;
        float: none;
    }
    .footer-link-item ul li {
        font-size: 12px;
        line-height: 19px;
    }
    .footer-link-item {
        width: 33.33%;
    }
    .footer-area-left .pay ul li.visa figure {
        max-width: 40px;
    }
    .footer-area-left .pay ul li.master figure {
        max-width: 26px;
    }
    .footer-area-left .pay ul li.mastero figure {
        max-width: 26px;
    }
    .footer-area-left .pay ul li.rupay figure {
        max-width: 51px;
    }
    .footer-area-left .pay ul li.razpay figure {
        max-width: 71px;
    }
    .footer-area-left .pay ul li.p1 figure {
        max-width: 36px;
    }
    .footer-area-left .pay {
        display: table;
        margin-left: auto;
        margin-right: auto;
    }
    .footer-link-item ul {
        padding: 0 0 0 19px;
    }
    .footer-link-item:last-child ul {
        padding: 0 19px 0 0;
    }
    .categories-item {
        margin-bottom: 20px !important;
    }
    .categories-item-inner {
        margin: 0 0 20px 0 !important;
    }
    .catgory-box {
        padding: 0 5px 0 5px;
    }
    .categories-item {
        margin-bottom: 10px !important;
    }
    .categories-item-inner {
        margin: 0 0 10px 0 !important;
    }
    .categories-item-inner.mb-0 {
        margin: 0 0 0 0 !important;
    }
    .categories-item.mb-0 {
        margin-bottom: 0 !important;
    }
    .modal-body-wrap {
        display: block;
    }
    .modal-body-wrap figure {
        display: block;
    }
    .modal-body-wrap .login-form-wrap {
        display: block;
        width: 100%;
    }
    .login-form-wrap .login-form {
        margin-left: 0;
    }
    .filter-area .row .p-rl-2:nth-child(odd) {
        padding-right: 5px !important;
    } 
    .filter-area .row .p-rl-2:nth-child(even) {
        padding-left: 5px !important;
    }
    .img-box {
        max-height: 245px;
        overflow: hidden;
    }
    .load-more-btn {
        font-size: 16px;
        height: 40px;
        line-height: 40px;
        border-radius: 6px;
    }
    .load-more-btn a {
        padding: 0 20px;
    }
    .filter-item-title .price h4 {
        font-size: 16px;
    }
    .filter-title-info-right ul > li {
        font-size: 11px;
    }
    .filter-item-inner-content p {
        font-size: 12px;
        line-height: 14px;
        max-height: 14px;
    }
    .modal.filter-popup .modal-header h4 {
        font-size: 14px;
        line-height: 20px;
    }
    .btn-close {
        width: .75em;
        height: .75em;
        background-size: 12px;
    }
    .pr-m-0 {
        padding-right: 0 !important;
    }
    .modal.filter-popup ul li button {
        font-size: 12px;
        line-height: 16px;
        padding-right: 15px;
        padding-left: 8px;
    }
    .modal.filter-popup ul li button span {
        right: 5px;
        min-width: 20px;
        height: 20px;
        line-height: 20px;
        font-size: 10px;
        padding: 0 1px;
    }
    .flter-popup-footer button {
        font-size: 14px;
        line-height: 20px;
    }
    .flter-popup-footer {
        padding-top: 20px;
    }
    .modal.filter-popup .filter-label > span {
        font-size: 11px;
        line-height: 16px;
        padding-left: 23px;
    }
    .modal.filter-popup.filter-popup-mobile .filter-label .checkmark {
        width: 18px;
        height: 16px;
    }
    .modal.filter-popup.filter-popup-mobile .filter-label .checkbox-group label .checkmark::after {
        left: 5px;
        top: 0px;
    }
    .modal.filter-popup .radio-item > span {
        font-size: 10px;
        margin-top: 0;
    }
    .filter-item {
        margin-bottom: 15px;
    }
    .owl-carousel .owl-nav button.owl-next {
        right: -10px;
        background-size: 15px;
    }
    .owl-carousel .owl-nav button.owl-prev {
        left: -20px;
        background-size: 15px;
    }
    .filter-area.owl-carousel .owl-nav button.owl-next {
        right: -10px;
        background-size: 15px !important;
    }
    .filter-area.owl-carousel .owl-nav button.owl-prev {
        left: 0;
        background-size: 15px !important;
    }
    .product-info .title h3 {
        font-size: 18px;
    }
    .product-info .price h3 {
        font-size: 21px;
        line-height: 30px;
    }
    .product-info .price h3 .pre-price {
        font-size: 14px;
        line-height: 30px;
    }
    .product-info .price h3 .offer {
        height: 25px;
        line-height: 25px;
        padding: 0 5px;
    }
    .product-info .title ul li {
        font-size: 12px;
    }
    .accordion-item .view button {
        font-size: 14px;
    }
    .product-info .accordion-item .customize-header button {
        font-size: 14px;
    }
    .specification h4 {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 10px;
    }
    .specification ul li {
        font-size: 16px;
        line-height: 25px;
    }
    .specification ul li span {
        font-size: 16px;
    }
    .details .accordion-item button {
        font-size: 16px;
        padding: 15px 20px !important;
    }
    .product-details {
        padding: 0 0 50px 0;
    }
    .breadcrumb ul li {
        font-size: 11px;
    }
    .customize .col-sm-6.ps-0 {
        padding-left: 15px !important;
    }
    .customize form {
        margin-bottom: 10px;
    }
    .customize form.size {
        float: right;
        width: 100%;
        max-width: 165px;
        margin-bottom: 0 !important;
    }
    .size-chart {
        float: left;
        width: 100%;
        margin-left: 0;
        padding-right: 8px;
    }
    .customize form {
        margin-bottom: 10px !important;
    }
    .customize form select {
        font-size: 10px;
    }
    .customize form .form-select-wrap::after {
        height: 22px;
    }
    .customize form .form-select-wrap.ms-auto {
        margin-left: 5px !important;
    }
    .customize form .form-select-wrap {
        min-width: 90px;
    }
    .view-price ul li {
        font-size: 10.75px;
        padding: 3px 3px;
    }
    .product-info .title ul li:not(:last-child) {
        padding-right: 5px;
        margin-right: 5px;
        font-size: 10px;
    }
    .product-info .price h4 {
        font-size: 14px;
    }
     .cart-item > figure {
        width: 100%;
       
    }
    .cart-item > figure img {
        max-width: 187px;
        margin: 0 auto;
    }
    .cart-item-wrap {
        width: 100%;
    }
    .cart-item-wrap {
        width: 100%;
        padding: 12px 0 0 0;
    }
    .cart-item {
        max-width: 302px;
        padding: 16px 15px;
    }
    .cart-item-title > span {
        display: block;
    }
    .cart-area .title p {
        font-size: 16px;
    }
    .view-estimate {
        margin-right: auto;
    }
    .order-number {
        text-align: center;
    }
    .order-item-wrap figure {
        margin: 8px auto 10px auto;
    }
    .zoom-bottom ul li span {
         background-size: 25px !important;
         padding-left: 30px;
    }
    .zoom-bottom ul li.trace span {
        text-align: left !important;
    }
    .zoom-left {
        margin-bottom: 10px;
    }
    .reverse.owl-carousel {
        width: 390px;
    }
    .elevatezoom-gallery figure img {
        height: 90px;
    }
    .reverse.owl-carousel .owl-item {
        width: 90px !important;
    }
    .reverse.owl-carousel .owl-nav button.owl-prev {
        left: -15px;
    }
    .reverse.owl-carousel .owl-nav button.owl-next {
        right: -15px;
    }
    .about {
        padding: 25px 0 170px 0;
    }
}
@media screen and (max-width: 535px) {
    .footer-area-right figure {
        width: 42%;
    }
    .footer-area-right .address-wrap {
        width: 58%;
    }
    .footer-area-right .address-wrap {
        padding-left: 12px;
    }
    .footer-area-right address {
        font-size: 13px;
        line-height: 20px;
    }
    .footer-area-right p {
        font-size: 13px;
    }
    .footer-area-right address {
        padding: 0px 9px 9px 0;
    }
}
@media screen and (max-width: 413px) {
    .filter-item-title .price h4 {
        font-size: 14px;
    }
    .filter-item {
        margin-right: auto;
        margin-left: auto;
    }
    .filter-area .row .p-rl-2:nth-child(odd) {
        padding: 0 5px !important;
    } 
    .filter-area .row .p-rl-2:nth-child(even) {
        padding: 0 5px !important;
    }
    .modal.filter-popup .radio-item > span {
        font-size: 10px;
        margin-bottom: 13px;
    }
    .customize form .form-check {
        margin-left: 0px;
    }
    .form-check-input {
        width: .75em;
        height: .75em;
        margin-top: .45em;
    }
    .customize form p {
        margin-right: 2px;
    }
    .elevatezoom-gallery figure img {
        height: 76px;
    }
    .reverse.owl-carousel .owl-item {
        width: 76px !important;
    }
    .reverse.owl-carousel {
        width: 336px;
    }
    .zoom-bottom {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .zoom-bottom ul li {
        margin-top: 0;
    }
}
