@media screen and (max-width: 1299px) {
    .custom-order {
        font-size: 23px;
    }
    .header-nav nav ul.navbar-nav > li {
        margin-right: 40px;
    }
    .header .menu > ul > li {
        font-size: 18px;
        margin-right: 35px;
    }
}
@media screen and (max-width: 1223px) {
    .filter-top-area > ul > li {
        font-size: 12px;
        line-height: 25px;
    }
    .filter-top-area > ul > li.filter-by {
        font-size: 13px;
        margin-right: 6px;
    }
    .filter-top-area > ul > li > a {
        padding: 0 15px 0 8px;
    }
    .filter-top-area > ul > li > a.dropdown-toggle span {
        padding-right: 6px;
    }
    .search-list span {
        font-size: 12px;
    }
    .search-list ul li {
        font-size: 13px;
    }
    .search-list {
        max-width: 960px;
    }
}
@media screen and (max-width: 1199px) {
    .gift-item-content h4 {
        font-size: 21px;
        line-height: 30px;
    }
    .header .menu > ul > li {
        font-size: 16px;
        margin-right: 20px;
    }
    .custom-order {
        font-size: 20px;
    }
    .banner-content-inner h1 {
        font-size: 70px;
        line-height: 90px;
    }
    .social {
        top: -158px;
    }
    .footer-link-item ul li {
        font-size: 18px;
        line-height: 40px;
    }
    .copyright p {
        font-size: 16px;
    }
    .copyright ul li {
        font-size: 15px;
    }
}
@media screen and (max-width: 1099px) {
    .search-list {
        max-width: 100%;
    }
    .logo-area {
        width: 22%;
    }
    .center-logo {
        width: 37%;
    }
    .header-top-right ul.weight {
        margin-left: 30px;
    }
    .center-logo figure {
        max-width: 170px;
    }
    .header-top-right ul.user > li:not(:first-child) {
        margin-left: 20px;
    }
}
@media screen and (max-width: 991px) {
    .header .menu > ul > li > a > i {
        display: block;
    }
    .header-area {
        padding: 10px 0;
    }
    .header .menu > ul > li {
        margin-right: 0;
    }
    .banner > figure img {
        width: 100% !important;
        height: 100% !important;
    }
    .banner > figure img {
        width: 1366px !important;
        height: 398px !important;
        max-height: initial !important;
        max-width: initial;
        margin: 0 -150px;
    }
    .banner.rings > figure img {
        height: 128px !important;
        margin: 0 -150px;
    }
    .header-top-right ul.weight {
        display: none;
    }
    .logo-area ul {
        display: none;
    }
    .center-logo {
        display: none;
    }
    .header-top-right {
        width: 78%;
        padding: 0;
    }
    .logo-area {
        padding: 0;
    }
    form.search-mobile input {
        margin-right: 0;
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
    }
    form.search-mobile button {
        color: #fff;
        padding: 0 10px;
    }
    form.search-mobile {
        width: 60%;
    }
    .login-btn {
        display: none;
    }
    .search-dropdown {
        display: none;
    }
    .logo-area {
        width: 75%;
        margin-left: 35px;
    }
    .logo {
        max-width: initial;
    }
    .header-top-area {
        padding: 0 10px;
    }
    .header .mobile-menu-trigger {
        position: absolute;
        top: -50px;
        left: 0;
        margin-left: 0;
    }
    .header-top {
        padding: 13px 0 10px 0;
    }
    .logo-area {
        width: 100%;
        max-width: 120px;
    }
    .arrival-area-carousel .owl-dots {
       display: none !important;
    }
    .arrival-area {
        border-bottom: 0;
        padding-bottom: 0;
    }
    .arrival {
        padding: 15px 0;
    }
    .categories {
        padding: 50px 0;
    }
    .store-area > figure {
        display: block;
        width: 100%;
        height: 100%;
    }
    .store-area-content {
        display: block;
        width: 100%;
    }
    .store-area-content p {
        font-size: 16px;
    }
    .store-area-content .address h5 {
        font-size: 16.65px;
    }
    .store-area-content .address address {
        font-size: 15px;
    }
    .social h5 {
        font-size: 20px;
        line-height: 30px;
    }
    .footer-area-left {
        width: 100%;
    }
    .footer-area-right {
        width: 100%;
        padding-bottom: 20px;
    }
    .copyright .link {
        margin-right: auto;
    }
    .copyright p {
        text-align: center;
    }
    .header-top-right ul.user .dropdown-menu {
        right: 0 !important;
        left: initial !important;
    }
    .dropdown-menu-container {
        padding-top: 20px;
    }
    .footer-area-right {
        overflow: hidden;
    }
    .footer-area-right figure {
        width: 50%;
        float: left;
    }
    .footer-area-right .address-wrap {
        width: 50%;
        float: right;
        padding-left: 20px;
    }
    .filter-top-area > ul {
        display: none;
    }
    .search-filter {
        display: none;
    }
    .filter-area {
        padding-bottom: 0;
        max-width: 875px;
    }
    .filter-area.mobile {
        padding-bottom: 50px;
        margin-bottom: 50px;
    }
    .breadcrumb {
        margin-bottom: 0;
    }
    .filter-item-title .price h4 {
        font-size: 20px;
    }
    .load-more-btn {
        font-size: 16px;
        height: 40px;
        line-height: 40px;
    }
    .load-more-btn a {
        padding: 0 20px;
    }
}
@media screen and (max-width: 767px) {
    .banner > figure img {
        margin: 0 -300px;
    }
    .banner-content-inner h1 {
        font-size: 60px;
        line-height: 80px;
    }
    .arrival-item figure {
        margin: auto;
    }
    .categories-item-inner {
        margin: 0 0 20px 0;
    }
    .image-wrapper {
        max-width: 294px;
    }
    .categories-area {
        max-width: 615px;
    }
    .gift-area {
        max-width: 600px;
    }
    .footer-link-item ul li {
        font-size: 16px;
    }
    .footer-area-left .pay ul li {
        margin-right: 23px !important;
    }
    .footer-area-left .pay ul li:last-child {
        margin-right: 0 !important;
    }
    .footer-area-right address {
        padding: 12px 9px 9px 0;
    }
    .footer-area-right p {
        margin-left: 0;
    }
    .categories-item {
        margin-bottom: 20px;
    }
    .modal-content {
        flex-direction: column;
    }
    .modal-content figure {
        width: 100%;
        max-width: 100%;
    }
    .modal-body figure {
        display: table;
        margin: 0 auto 10px auto;
        width: initial;
    }
    .modal-body-wrap figure {
        display: table-cell;
    }
    .filter-area {
        max-width: 552px;
        margin-left: auto;
        margin-right: auto;
    }
}
@media screen and (max-width: 575px) {
    .banner > figure img {
        margin: 0 -500px;
    }
    .banner-content-inner h1 {
        font-size: 55px;
        line-height: 75px;
    }
    .flex-direction-nav a::before {
        width: 10px;
        height: 10px;
    }
    .flex-direction-nav a {
        padding: 15px;
    }
    .flex-control-nav {
        bottom: 20px;
    }
    .login-btn {
        margin: 19px 0 0 20px;
    }
    .header-top-right ul.user > li:not(:first-child) {
        margin-left: 16px;
    }
    .image-wrapper {
        margin: 0 auto;
    }
    .gift-item {
        max-width: 297px;
        margin: 0 auto;
    }
    .custom-order {
        font-size: 15px;
    }
    .footer-link {
        width: 100%;
        padding: 19px 0 15px 0;
        margin-top: 20px;
    }
    .footer-link-item {
        width: 100%;
    }
    .footer-link-item:last-child ul {
        padding-left: 0;
    }
    .copyright ul {
        display: table;
        text-align: center;
        margin: 0 auto;
        padding: 0px 0 15px 0;
        display: inline-block;
        float: none;
        border: 0;
    }
    .header-top-right ul.user li.cart-list .dropdown-menu {
        transform: translate(75px,30px) !important;
    }
    .header-top-right ul.user li.wish-list .dropdown-menu {
        transform: translate(20px,30px) !important;
    }
    .footer-area-left > ul {
        max-width: initial;
        display: table;
        margin: 0 auto;
    }
    .footer-area-left > ul li {
        display: inline-block;
    }
    .footer-area-main figure {
        width: 100%;
        display: table;
        margin: 0 auto;
        max-width: 155px;
        float: none;
    }
    .footer-link-item ul li {
        font-size: 12px;
        line-height: 19px;
    }
    .footer-link-item {
        width: 33.33%;
    }
    .footer-area-left .pay ul li.visa figure {
        max-width: 40px;
    }
    .footer-area-left .pay ul li.master figure {
        max-width: 26px;
    }
    .footer-area-left .pay ul li.mastero figure {
        max-width: 26px;
    }
    .footer-area-left .pay ul li.rupay figure {
        max-width: 51px;
    }
    .footer-area-left .pay ul li.razpay figure {
        max-width: 71px;
    }
    .footer-area-left .pay ul li.p1 figure {
        max-width: 36px;
    }
    .footer-area-left .pay {
        display: table;
        margin-left: auto;
        margin-right: auto;
    }
    .footer-link-item ul {
        padding: 0 0 0 19px;
    }
    .footer-link-item:last-child ul {
        padding: 0 19px 0 0;
    }
    .categories-item {
        margin-bottom: 20px !important;
    }
    .categories-item-inner {
        margin: 0 0 20px 0 !important;
    }
    .catgory-box {
        padding: 0 5px 0 5px;
    }
    .categories-item {
        margin-bottom: 10px !important;
    }
    .categories-item-inner {
        margin: 0 0 10px 0 !important;
    }
    .categories-item-inner.mb-0 {
        margin: 0 0 0 0 !important;
    }
    .categories-item.mb-0 {
        margin-bottom: 0 !important;
    }
    .modal-body-wrap {
        display: block;
    }
    .modal-body-wrap figure {
        display: block;
    }
    .modal-body-wrap .login-form-wrap {
        display: block;
        width: 100%;
    }
    .login-form-wrap .login-form {
        margin-left: 0;
    }
    .filter-area .row .p-rl-2:nth-child(odd) {
        padding-right: 5px !important;
    } 
    .filter-area .row .p-rl-2:nth-child(even) {
        padding-left: 5px !important;
    }
    .img-box {
        max-height: 245px;
        overflow: hidden;
    }
    .load-more-btn {
        font-size: 16px;
        height: 40px;
        line-height: 40px;
        border-radius: 6px;
    }
    .load-more-btn a {
        padding: 0 20px;
    }
    .filter-item-title .price h4 {
        font-size: 16px;
    }
    .filter-title-info-right ul > li {
        font-size: 11px;
    }
    .filter-item-inner-content p {
        font-size: 12px;
        line-height: 14px;
        max-height: 14px;
    }
    .modal.filter-popup .modal-header h4 {
        font-size: 14px;
        line-height: 20px;
    }
    .btn-close {
        width: .75em;
        height: .75em;
        background-size: 12px;
    }
    .pr-m-0 {
        padding-right: 0 !important;
    }
    .modal.filter-popup ul li button {
        font-size: 12px;
        line-height: 16px;
        padding-right: 15px;
        padding-left: 8px;
    }
    .modal.filter-popup ul li button span {
        right: 5px;
        min-width: 20px;
        height: 20px;
        line-height: 20px;
        font-size: 10px;
        padding: 0 1px;
    }
    .flter-popup-footer button {
        font-size: 14px;
        line-height: 20px;
    }
    .flter-popup-footer {
        padding-top: 20px;
    }
    .modal.filter-popup .filter-label > span {
        font-size: 12px;
        line-height: 16px;
        padding-left: 23px;
    }
    .modal.filter-popup.filter-popup-mobile .filter-label .checkmark {
        width: 18px;
        height: 16px;
    }
    .modal.filter-popup.filter-popup-mobile .filter-label .checkbox-group label .checkmark::after {
        left: 5px;
        top: 0px;
    }
    .modal.filter-popup .radio-item > span {
        font-size: 10px;
        margin-top: 0;
    }
    .filter-item {
        margin-bottom: 15px;
    }
}
@media screen and (max-width: 535px) {
    .footer-area-right figure {
        width: 42%;
    }
    .footer-area-right .address-wrap {
        width: 58%;
    }
    .footer-area-right .address-wrap {
        padding-left: 12px;
    }
    .footer-area-right address {
        font-size: 13px;
        line-height: 20px;
    }
    .footer-area-right p {
        font-size: 13px;
    }
    .footer-area-right address {
        padding: 0px 9px 9px 0;
    }
}
@media screen and (max-width: 413px) {
    .col-6.p-rl-2 {
        width: 50%;
    }
    .filter-item {
        margin-right: auto;
        margin-left: auto;
    }
    .filter-area .row .p-rl-2:nth-child(odd) {
        padding: 0 5px !important;
    } 
    .filter-area .row .p-rl-2:nth-child(even) {
        padding: 0 5px !important;
    }
    .modal.filter-popup .radio-item > span {
        display: table;
        float: none;
        font-size: 10px;
        margin-left: 24px;
        margin-bottom: 13px;
    }
    .filter-label.clearfix {
        float: none;
    }
}
